version: '3'

services:

  #PHP Service
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${APP_CONTAINER_NAME:-app}
    restart: unless-stopped
    tty: true

    env_file:
      - .env

    working_dir: /var/www

    volumes:
      - ./:/var/www
      - ./docker/php.ini:/usr/local/etc/php/conf.d/local.ini

    depends_on:
      - db

    networks:
      - internal

  #Nginx Service
  webserver:
    image: nginx:alpine
    container_name: ${WEBSERVER_CONTAINER_NAME:-webserver}
    restart: unless-stopped
    tty: true
    depends_on:
      - app

    ports:
      - "${WEBSERVER_PORT_HTTP:-8000}:80"

    volumes:
      - ./:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/app.conf

    networks:
      - internal

  #PostgreSQL Service
  db:
    image: postgres:15-alpine
    container_name: ${DB_CONTAINER_NAME:-db}
    restart: unless-stopped

    environment:
      POSTGRES_DB: ${DB_DATABASE:-laravel}
      POSTGRES_USER: ${DB_USERNAME:-laravel}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-secret}

    ports:
      - "${DB_PORT:-5432}:5432"

    volumes:
      - dbdata:/var/lib/postgresql/data

    networks:
      - internal

#Docker Networks
networks:
  internal:
    driver: bridge

#Volumes
volumes:
  dbdata:
    driver: local
