version: '3'

services:

  #PHP Service
  nacho:
    restart: unless-stopped
    labels:
      - traefik.http.routers.nacho.rule=Host(`nacho.malows.dev`)
      - traefik.http.routers.nacho.tls=true
      - traefik.http.routers.nacho.tls.certresolver=lets-encrypt
      - traefik.http.services.nacho.loadbalancer.server.port=9000

    build:
      context: .
      dockerfile: Dockerfile
    # image: digitalocean.com/php
    container_name: nacho
    tty: true
    depends_on:
      - db_postgres

    env_file:
      - .env
    environment:
      SERVICE_NAME: nacho
      SERVICE_TAGS: dev
      DB_CONNECTION: 'pgsql'
      DB_HOST: db_postgres
      DB_PORT: 5432
      DB_DATABASE: 'nako_stock_manager'
      DB_USERNAME: 'admin'
      DB_PASSWORD: 'password'

    working_dir: /var/www

    volumes:
      # - ./:/var/www
      - ./docker/php.ini:/usr/local/etc/php/conf.d/local.ini

    networks:
      - internal
      # - external

  #Nginx Service
  webserver:
    image: nginx:1.21.6-alpine
    container_name: webserver
    restart: unless-stopped
    tty: true
    depends_on:
      - nacho

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - ./:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/app.conf

    networks:
      - internal
      # - external

  #PostgreSQL Service
  db_postgres:
    image: postgres:13-alpine
    container_name: db_postgres
    restart: unless-stopped
    tty: true
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: 'nako_stock_manager'
      POSTGRES_USER: 'admin'
      POSTGRES_PASSWORD: 'password'
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - internal

#Docker Networks
networks:
  internal:
    driver: bridge

#Docker Volumes
volumes:
  pgdata:
    driver: local
